/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  font-family: Verdana, Tahoma, sans-serif;
}

.nav-bar {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.spotify-logo {
  height: 7vh;
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  font-size: 2vh;
}

.nav-bar-links > li {
  padding: 10px;
  color: black;
}

a:link {
  text-decoration: none;
  color: black
}

.background-image {
  margin-top: 5px;
  color: white;
  text-align: center;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.background-img-text-wrapper {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 207px);
}

.music-everyone {
  font-weight: lighter;
  font-size: 7vh; 
}

.music-everyone-words {
  font-weight: lighter;
}

.whats-on-spotify {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-weight: lighter;
  border-bottom: 3px solid #00B172;
  width: 35vh;
  align-self: center;
}

.info-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-icon {
  width: 20vh;
  height: auto;
}

h3 {
  color: #00B172;
  text-align: center;
}

.high-quality-icon {
  width: 20vh;
  height: auto;
}

.devices-icon {
  width: 20vh;
  height: auto;
}

.infos-info {
  font-weight: lighter;
  text-align: center;
  width: 33vh;
}

.green-section {
  width: 90%;
  height: 80vh;
  background-color: #00B172;
  display: flex;
  align-content: center;
  color:white;
  flex-direction: row;
}

.left-text {
  margin-left: 10vh;
  width: 50vh;
  
}

.kanye-title {
  width: 60vh;
}

h4 {
  font-weight: lighter;
  font-size: 4vh;
  border-bottom: 2px solid white;
  width: fit-content;
}

.spotify-white {
  width: 13vh;
  height: fit-content;
  padding-top: 15%;
  padding-left: 15%;
}

.kanye-west {
  margin: 5vh;
  padding-left: 30vh;
}